name: Build

on: workflow_dispatch

jobs:
  build:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install ldid
      run: brew install ldid
      
    - name: Build
      run: make
      
    - name: Check
      run: |
        file cemobile.dylib
        otool -l cemobile.dylib | grep "arm64"
        
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: dylib
        path: cemobile.dylib
